<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Miniglock's D&D Character Creator</h1>
    <p>Welcome to the newest D&D 5E Character creator on the web!</p>
    <div>
      <a href="/logout">Log Out</a>
      <a href="/auth/google">Login with Google</a>
    </div>
  </body>
</html>
