<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="header">Your Characters</h1>
    <div>
      <a href="/characters/new">New Character</a>
    </div>
    <% user.characters.forEach(c => { %>
    <li>
      <a href="/characters/<%=c._id%>">
        <%= c.name %>, <%= c.race %> <%= c.class %></a
      >
    </li>
    <% }) %>
  </body>
</html>
